---
layout: default
---

</div> <!-- /home -->
</div> <!-- /wrapper -->

<div class="careers-banner">
	<div style="background-color: {% if hero.hex %}#{{ hero.hex }}{% else %}#0b151e;{% endif %}">
	    <img src="{{ site.baseurl }}/assets/img/banner-careers.jpg" class="blog-hero-image" alt="A picture of some of the Octopus Energy team">
	    <div class="wrapper relative">
	        <div class="blog-hero--content">
	            <h1><a href="#" class="blog-hero--title">Careers at Octopus Energy</a></h1>
	        </div>
	    </div>
	</div>
</div>

<div class="wrapper">
<div class="careers">


<div class="blog-entries">
    {% for post in site.categories['career'] %}

        {% for member in site.data.members %}
            {% if member.name == post.author %}
                {% assign author = member %}
            {% endif %}
        {% endfor %}

        <div class="blog-entry">
            <a href="{{ post.url | prepend: site.baseurl }}" class="no-style">
                <div class="blog-entry--image" {% if post.banner %} style="background-image: url({{ site.baseurl }}{{ post.banner }});" {% endif %}>
                    <h1 class="blog-entry--title">{{ post.title }}</h1>
                </div>
                <div class="blog-entry--text">
                    <p class="blog-entry--date">{{ post.date | date: "%b %-d, %Y" }}</p>
                    {% if post.excerpt %}
                        <p>{{ post.excerpt }}</p>
                    {% else %}
                        <p>{{ post.content | strip_html | truncate:140}}</p>
                    {% endif %}
                </div>
            </a>
        </div>

    {% endfor %}
</div>
