---
layout: default
---

<div class="home">


        {% for hero in site.categories['news'] limit: 1 %}
            {% unless hero.categories contains 'career' %}
                </div> <!-- /home -->
                </div> <!-- /wrapper -->

                {% for member in site.data.members %}
                    {% if member.name == hero.author %}
                        {% assign author = member %}
                    {% endif %}
                {% endfor %}

                    <div style="background-color: {% if hero.hex %}#{{ hero.hex }}{% else %}#233249;{% endif %}">
                            {% if hero.banner %}
                                <img src="{{ site.baseurl }}{{ hero.banner }}" alt="Blog " class="blog-hero-image">
                            {% endif %}
                            <div class="wrapper relative">
                                <div class="blog-hero--content">
                                    <h1><a href="{{ hero.url | prepend: site.baseurl }}" class="blog-hero--title"">{{ hero.title }}</a></h1>
                                    <p class="blog-hero--author">
                                        {% if author.twitter %}
                                            <a href="https://twitter.com/{{ author.twitter }}" target="_blank">{{ hero.author }}</a>,
                                        {% else %}
                                            {{ hero.author }}
                                        {% endif %}
                                        {% if author.jobtitle %}
                                            <span class="blog-author--title">{{ author.jobtitle }}</span>
                                        {% endif %}
                                    </p>
                                    <a href="{{ hero.url | prepend: site.baseurl }}" class="blog-hero--link">Read more</a>
                                </div>
                            </div>
                    </div>

                <div class="wrapper">
                <div class="home">
            {% endunless %}
        {% endfor %}

        <div class="info">
            <div class="emphasis">
                <p>We're hiring! <a href="/careers">View careers</a></p>
            </div>
        </div>

        <div class="blog-entries">
            {% for post in site.categories['news'] offset: 1 %}

                {% for member in site.data.members %}
                    {% if member.name == post.author %}
                        {% assign author = member %}
                    {% endif %}
                {% endfor %}

                <div class="blog-entry">
                    <a href="{{ post.url | prepend: site.baseurl }}" class="no-style">
                        <div class="blog-entry--image" {% if post.banner %} style="background-image: url({{ site.baseurl }}{{ post.banner }});" {% endif %}>
                            <h1 class="blog-entry--title">{{ post.title }}</h1>
                        </div>
                        <div class="blog-entry--text">
                            <p>{{ post.content | strip_html | truncate:140}}</p>
                        </div>
                    </a>
                    <div class="blog-entry--actions">
                        {% if author.twitter %}<p><a href="https://twitter.com/{{ author.twitter }}" target="_blank">{{ post.author }}</a>{% else %}{{ post.author }}</p>{% endif %}
                        {% if author.jobtitle %}<p class="blog-author--title">{{ author.jobtitle }}</p>{% endif %}
                    </div>
                </div>

            {% endfor %}
        </div>

</div>
