<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <p>{{ site.description }}</p>
        <p>
            We're looking for <a href="/2015/11/23/tech-jobs.html">strong Python developers to join our team</a>. 
            Email us at <a href="mailto:{{ site.email }}">{{ site.email }}</a> if you're interested.
        </p>
      </div>

      <div class="footer-col footer-col-2">
        {% if site.github_username %}
          <a href="{{ "/feed.xml" | prepend: site.baseurl }}" class="icon-rss">
            <img src="{{ site.baseurl }}/assets/img/rss.svg" alt="">
          </a>
          <a href="https://github.com/{{ site.github_username }}" target="_blank">
            <img src="{{ site.baseurl }}/assets/img/github.svg" alt="">
          </a>
        {% endif %}
      </div>
    </div>

  </div>

</footer>
