/**
 * Site header
 */
.site-header {
    background-color: #233249;
    padding: 0.8rem 0;
}

.site-title {
    display: block;
    margin: 2.0rem auto 4.0rem;
    background: url(../assets/img/logo.svg);
    background-repeat: no-repeat;
    width: 16rem;
    height: 8.4rem;

    span {
        position: absolute;
        left: -100000px;
        width: 1px;
        height: 1px;
        overflow: hidden;
        outline: 0;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    margin: ($spacing-unit * 2) 0 0;
    padding: ($spacing-unit / 2) 0;
    background-color: #272822;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    @extend %clearfix;
}

.footer-col {
    float: left;
}

.footer-col-1 {
    width: 70%;

    @include media-query($on-laptop) {
        width: 60%;
    }

    p {
        font-size: 1.4rem;
        line-height: 1.8rem;
    }
}

.footer-col-2 {
    width: 20%;
    margin-left: 10%;
    text-align: right;

    @include media-query($on-laptop) {
        width: 30%;
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: 100%;
        margin-left: 0;
        text-align: left;
    }
}

.icon-rss {
    margin-right: 10px;
}

/**
 * Page content
 */
.page-content {
    padding: 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $base-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}

.btn-back {
    position: absolute;
    top: 5.5rem;

    img {
        width: 1.8rem;
        height: 3.0rem;
        margin-right: 1.0rem;
    }

    @media (max-width: 450px) {
        span {
            display: none;
        }
    }
}


/**
 * Posts
 */
.post-list {
    margin: $spacing-unit 0;

    .post-list__item {
        margin-bottom: 3.2rem;
        
        h2 {
            margin-bottom: 0;

            a {
                margin-bottom: 0;
            }
        }
        .post-meta {
            display: block;
            margin-bottom: 0.8rem;
        }
    }
}

