/**
 * Site header
 */
.site-header {
    background-color: #233249;
    padding: 0.8rem 0;
}

.site-title {
    display: block;
    margin: 3.0rem auto 2.4rem;
    background: url(../assets/img/logo.svg);
    background-size: 35rem 5.0rem;
    background-repeat: no-repeat;
    width: 35rem;
    height: 5.0rem;

    @media (max-width: 600px) and (min-width: 500px) {
        height: 8.0rem;
    }

    @media (max-width: 499px) and (min-width: 400px) {
        height: 6.0rem;
    }

    @include media-query($on-palm) {
        width: 100%;
        background-size: 100% auto;
    }

    span {
        position: absolute;
        left: -100000px;
        width: 1px;
        height: 1px;
        overflow: hidden;
        outline: 0;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    margin: ($spacing-unit * 2) 0 0;
    padding: ($spacing-unit / 2) 0;
    background-color: #000000;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: #ffffff;
    @extend %clearfix;
}

.footer-col {
    float: left;
}

.footer-col-1 {
    display: flex;
    width: 70%;
    height: 50px;
    align-items: center;

    @include media-query($on-laptop) {
        width: 60%;
    }

    p {
        margin-bottom: 0;
        font-size: 1.4rem;
        line-height: 1.8rem;
    }
}

.footer-col-2 {
    width: 20%;
    margin-left: 10%;
    text-align: right;

    @include media-query($on-laptop) {
        width: 30%;
    }

    a {
        display: inline-block;
        width: 50px;
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: 100%;
        margin-left: 0;
        text-align: center;
    }
}

.icon-rss {
    margin-right: 10px;
}

/**
 * Page content
 */
.page-content {
    padding: 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $base-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}

a.btn-back {
    position: absolute;
    top: 5.5rem;
    color: #ffffff;
    text-decoration: none;

    img {
        width: 1.8rem;
        height: 3.0rem;
        margin-right: 1.0rem;
    }

    @media (max-width: 450px) {
        span {
            display: none;
        }
    }
}


/**
 * Posts
 */
.post-list {
    margin: $spacing-unit 0;

    .post-list__item {
        margin-bottom: 3.2rem;

        h2 {
            margin-bottom: 0;

            a {
                margin-bottom: 0;
            }
        }
        .post-meta {
            display: block;
            margin-bottom: 0.8rem;
        }
    }
}





.relative { position: relative; }

.margin-bottom-md { margin-bottom: 2.4rem; }

.margin-bottom-lg { margin-bottom: 4.0rem; }

.blog-hero--content {
    position: absolute;
    bottom: 0;
    left: 3.9rem;
    width: 80%;

    @media (max-width: 600px) {
        position: relative;
        left: 0;
        width: auto;
    }

    h1 {
        margin-top: 4.8rem;
        margin-bottom: .8rem;
    }

    a {
        color: #ffffff;
        text-decoration: underline;
    }

    .blog-hero--title {
        font-size: 5.3rem;
        line-height: 5.3rem;
        color: #ffffff;
        text-decoration: none;

        @media (max-width: 768px) {
            font-size: 4.0rem;
            line-height: 4.0rem;
        }

        @media (max-width: 450px) {
            font-size: 2.8rem;
            line-height: 3.0rem;
        }
    }

    .blog-hero--author {
        margin-bottom: 1.6rem;
        font-size: 1.6rem;

        a {
            color: #ffffff;
            text-decoration: underline;
        }
    }

    .blog-hero--link {
        display: block;
        margin-bottom: 2.4rem;
        font-weight: 800;
        color: #ffffff;
    }
}

.blog-hero-image {
    display: block;
    max-width: 110rem;
    max-height: 45rem;
    margin: 0 auto;

    @media (max-width: 1099px) {
        width: 100%;
    }
}

.blog-entries {
    display: flex;
    flex-wrap: wrap;
    margin-top: .8rem;
    margin-bottom: 2.0rem;
}

.blog-entry {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 50%;
    width: calc(50% - 1.0rem);
    margin: 1.0rem .5rem;
    background-color: #fafafa;
    border-radius: .2rem;

    @media (max-width: 700px) {
        width: 100%;
        margin: 1.0rem 0;
    }

    h1 {
        margin: 1.0rem 0;
    }

    .blog-entry--image {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        min-height: 17.6rem;
        max-height: 17.6rem;
        background-position: center bottom;
        background-repeat: no-repat;
        background-size: cover;
        border-radius: .1rem .1rem 0 0;
    }

    .blog-entry--title {
        position: absolute;
        right: 0;
        bottom: 1.2rem;
        left: 0;
        padding: 0 1.6rem;
        margin: 0;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 2.6rem;
        color: #ffffff;
        text-overflow: ellipsis;
        white-space: word-wrap;
    }

    .blog-entry--text {
        display: block;
        padding: 1.6rem;
        margin: 0;
        font-size: 1.4rem;
        line-height: 1.6rem;
        color: #000000;

        > .container-fluid {
            padding: 0;
            margin: 0;
        }
    }

    .blog-entry--actions {
        padding: .5rem 1.5rem;
        margin-top: auto;
        border-top: .1rem solid #e0e0e0;

        p {
            margin-bottom: 0;
            color: #666666;
        }

        .blog-entry--action {
            display: inline-block;
            padding: .8rem 0;
            font-weight: 800;
            color: #00afff;
        }
    }

    .blog-author--title {
        font-size: 1.4rem;
        line-height: 1.6rem;
    }
}

.author-image,
.author-profile {
    display: inline-block;

    @media (max-width: 600px) {
        display: block;
        text-align: center;
    }
}

.author-image {
    position: relative;
    width: 18rem;
    height: 18rem;
    margin: 6rem 2.4rem 2.4rem 1.6rem;
    -webkit-border-radius: 6rem;
    -moz-border-radius: 6rem;
    border-radius: 6rem;

    &:before,
    &:after {
        content: '';
        position: absolute;
    }

    &:before {
        top: -.4rem;
        left: -.4rem;
        width: 18.4rem;
        height: 18.4rem;
        border-radius: 18.1rem;
        border: .1rem solid #ffffff;
    }

    &:after {
        top: -1.2rem;
        left: -1.2rem;
        width: 20rem;
        height: 20rem;
        border-radius: 18.6rem;
        border: .1rem dashed #00afff;
    }

    @media (max-width: 600px) {
        margin-right: auto;
        margin-left: auto;
    }

    a { display: block; }

    img {
        text-align: center;
        border-radius: 12rem;
    }
}

.author-profile {

    .author-profile--name {
        margin-bottom: 0;
        font-size: 3.2rem;
        line-height: 3.6rem;
    }

    .author-profile--title { margin-bottom: 0; }
}

ul { margin-bottom: 45px; }

.ie9 {

    .blog-entry {
        float: left;
    }

    img {text-decoration: none; border: 0px}
}

/* Info blocks
 * -------------------------------------------------------------------------- */
.info {
    padding: 1.8rem 1.5rem;
    margin: 2.4rem 0;
    text-align: center;
    border: .1rem solid #00afff;
}

.emphasis {
    padding: 1.8rem 1.5rem;
    background: #262627;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {

        &:first-of-type {
            margin-top: 0;
        }
    }

    p {
        font-size: 1.6rem;
        line-height: 2.1rem;

        &:last-of-type { margin-bottom: 0; }
    }
}

/* Careers section
 * -------------------------------------------------------------------------- */
.careers-banner {

    .blog-hero--content {

        h1 { margin-bottom: 50px; }
    }
}

.careers {

    .blog-entry {

        .blog-entry--text {

            p:last-of-type { margin-bottom: 0; }

            .blog-entry--date {
                margin-bottom: 8px;
                font-size: 14px;
                font-weight: 800;
                line-height: 16px;
            }
        }
    }
}

.no-style {
    font-weight: inherit;
    text-decoration: none;

    &:focus,
    &:hover {
        text-decoration: none;
    }
}

/* Job advert
 * -------------------------------------------------------------------------- */
.job-advert {

    .info { text-align: left; }
}
