html {
	font-size: 62.5%;
}

body {
	font-family: "Gotham SSm A", "Gotham SSm B", helvetica, arial, sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 1.8rem;
	line-height: 2.3rem;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1,
.faux-h1 {
	color: white;
	font-weight: 800;
	font-size: 3.2rem;
	line-height: 3.8rem;
	letter-spacing: -0.2rem;
	margin: 3.2rem 0 2.4rem;
}

h2, h3, h4, h5, h6,
.faux-h2, .faux-h3, .faux-h4, .faux-h5, .faux-h6 {
	color: white;
	font-weight: 700;
}

h2,
.faux-h2 {
	font-size: 2.8rem;
	line-height: 3.2rem;
	margin: 2.4rem 0 2.0rem;
	letter-spacing: -0.2rem;
}

h3,
.faux-h3 {
	font-size: 2.4rem;
	line-height: 2.8rem;
	margin: 2.0rem 0 1.6rem;
	letter-spacing: -0.07rem;
}

h4,
.faux-h4 {
	font-size: 2.0rem;
	line-height: 2.4rem;
	margin: 2.0rem 0 1.6rem;
	letter-spacing: -0.07rem;
}

h5,
.faux-h5 {
	font-size: 1.8rem;
	line-height: 2.3rem;
	margin: 2.0rem 0 1.6rem;
	letter-spacing: -0.07rem;
}

h6,
.faux-h6 {
	font-size: 1.6rem;
	line-height: 2.2rem;
	margin: 0;
	letter-spacing: -0.07rem;
}

p {
	font-size: 2.0rem;
	line-height: 2.5rem;
	margin: 0 0 1.6rem;
}

strong,
.substrong {
	font-weight: 700;
}

em {
	font-style: italic;
	font-weight: 400;
}

/* Globally used title layouts
 * -------------------------------------------------------------------------- */
.hero-h1 {
	font-size: 3.8rem;

	@media (max-width: 450px) {
		font-size: 3.4rem;
	}
}

.title {
	line-height: 3.4rem;
	margin-bottom: 0.8rem;

	&.hero-h1 {
		line-height: 4.0rem;

		@media (max-width: 450px) {
			line-height: 3.8rem;
		}
	}
}

.subtitle {
	font-weight: 100;
	line-height: 2.0rem;
	margin: 0 0 2.4rem;
}