<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: 'https://engineering.kraken.tech' }}">
    
    <!-- Custom fonts for this template -->
    <link rel="stylesheet" type="text/css" href="https://static.octopuscdn.com/fonts/Chromatophore/fonts.min.css" />
    
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    
    <!-- Redirect to new site URL -->
    <meta http-equiv="refresh" content="1;url=https://engineering.kraken.tech{{ page.url }}" />

    <title>{% if page.title %}{{ page.title }} | {% endif %}Tech blog | {{ site.title }}</title>
  </head>

  <body>
    <!-- Main Content -->
    {{ content }}
  </body>

</html>
