<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{{ site.description }}">
    <title>{% if page.title %}{{ page.title }} | {{ site.title }} Tech blog{% else %}{{ site.title }} Tech blog{% endif %}</title>
    <link rel="stylesheet" type="text/css" href="//cloud.typography.com/6806472/664928/css/fonts.css" />
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <link rel="icon" href="{{ site.baseurl }}/assets/img/platform-icons/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/assets/img/platform-icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="{{ site.baseurl }}/assets/img/platform-icons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ site.baseurl }}/assets/img/platform-icons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="{{ site.baseurl }}/assets/img/platform-icons/manifest.json">
    <link rel="mask-icon" href="{{ site.baseurl }}/assets/img/platform-icons/safari-pinned-tab.svg">
    <meta name="apple-mobile-web-app-title" content="Octopus Energy">
    <meta name="application-name" content="Octopus Energy">
    <meta name="theme-color" content="#1b073a">

    <!-- Bootstrap core CSS -->
    <link href="{{ site.baseurl }}/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{{ site.baseurl }}/assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand" href="/">Octopus Energy Tech</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://octopus.energy">Octopus Energy</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://octopus.energy/careers">Careers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://octopus.energy/contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Main Content -->
    {{ content }}

    <hr>

    {% include footer.html %}

    <!-- Bootstrap core JavaScript -->
    <script src="{{ site.baseurl }}/assets/vendor/jquery/jquery.min.js"></script>
    <script src="{{ site.baseurl }}/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="{{ site.baseurl }}/assets/js/app.js"></script>

  </body>

</html>
