<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en-gb" class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en-gb" class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en-gb" class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html lang="en-gb" class="no-js lt-ie10 ie9"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang="en-gb" class="no-js"> <!--<![endif]-->

  {% include head.html %}

  <body>

    <div class="page-content">
      <div class="site-header">

        <a class="site-title" href="https://octopus.energy" target="_blank"><span>{{ site.title }}</span></a>

        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
