---
layout: default
---

{% for member in site.data.members %}
	{% if member.name == page.author %}
		{% assign author = member %}
	{% endif %}
{% endfor %}

<div class="job-advert">

  <a href="/careers" class="btn-back"><img src="/assets/img/back.svg" alt=""><span>Back</span></a>

  </div> <!-- /post -->
  </div> <!-- /wrapper -->

  <header>
    <div style="background-color: {% if page.hex %}#{{ page.hex }}{% else %}#233249{% endif %};">
            {% if page.banner %}
              <img src="{{ site.baseurl }}{{ page.banner }}" alt="banner image" class="blog-hero-image">
            {% endif %}

            <div class="wrapper relative margin-bottom-md">
              <div class="blog-hero--content">
                  <h1 class="blog-hero--title">{{ page.title }}</h1>
                  <p class="blog-hero--author">{{ page.date | date: "%b %-d, %Y" }}</p>
              </div>
          </div>
    </div>
  </header>

  <div class="wrapper">
  <div class="job-advert">

  <article class="post-content">
    {{ content }}

    <h3>How to apply:</h3>
    <p class="margin-bottom-lg">Send us your C.V with a cover letter to <a href="mailto:talent@octopus.energy">talent[at]octopus[dot]energy</a></p>

    {% if page.advert %}
      <a href="{{ page.advert }}" target="_blank">Download advert</a>
    {% endif %}
  </article>

  <aside class="about-octopus">
    <div class="info">
        <div class="emphasis">
            <h3>About Octopus Energy</h3>
            <p>Octopus Energy is a new energy supplier for the UK. Through smart use of the latest technology, we’re changing the way people consume and buy energy, and putting customers first.</p>
            <p>We’re backed by Octopus Investments, who have an investment portfolio worth over &pound;7bn and over &pound;1.5bn invested in renewable energy generation assets. In total, Octopus owns about 40% of the UK’s commercial solar generation capacity.</p>
            <p>Octopus Energy is an ambitious young business already making real change in the market, embracing the benefits of being a startup with major financial backing.</p>
        </div>
    </div>
  </aside>

</div>
