---
layout: default
---

{% for member in site.data.members %}
  {% if member.name == page.author %}
    {% assign author = member %}
  {% endif %}
{% endfor %}

<!-- Page Header -->
<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="post-heading">
                    <h1>{{ page.title }}</h1>
                    <span class="meta">Posted by
                    {% if author.twitter %}
                        <a href="https://twitter.com/{{ author.twitter }}" target="_blank" style="text-decoration: underline;">{{ page.author }}</a>
                    {% else %}
                        <strong>{{ page.author }}</strong>
                    {% endif %}
                    {% if author.jobtitle %}
                        {{ author.jobtitle }}
                    {% endif %}
                    on {{ page.date | date: "%b %-d, %Y" }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                {{ content }}
            </div>
        </div>
    </div>
</article>
